IDD_PREVIEW_DLG DIALOG DISCARDABLE  0, 0, 139, 96
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_CLIPSIBLINGS
FONT 9, "ÀŒÃÂ"
BEGIN
    LTEXT           "",1119,0,0,76,82
    LTEXT           "‘§¿¿:",IDC_STATIC,79,6,48,8
    LTEXT           "0 X 0",IDC_PREVIEW_SIZE,79,20,37,8
    LTEXT           "",IDC_PREVIEW_RENDER,79,32,50,50,SS_SUNKEN
END